body{
    margin: 0;
    padding: 0;
    }
    
nav{
    background-color: yellow;
    min-height: 60px;
    display: grid;
}
nav h1
{
    margin: auto;
}
ul
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
}
main{
    overflow: auto;
    scroll-snap-type: inline mandatory;
    }
main > ul > li
{
    scroll-snap-align: center;
    scroll-margin: 1em;
    min-width: 300px;
}
    
img{
    max-width: 80px;
}

.item{
    list-style: none;
    padding: 0;
    margin: auto;
    margin-bottom: 4em;
}