body{
    margin: 0;
    padding: 0;
    }
    
nav{
    background-color: yellow;
    min-height: 60px;
    display: grid;
}
nav h1
{
    margin: auto;
}
ul
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
}
main{
    overflow: horizontal;
    max-width: 90vw;
    width: 400px;
    }
    
img{
    max-width: 80px;
}

.item{
    list-style: none;
    padding: 0;
    margin: auto;
}